services:
  react-app:
    restart: unless_stopped
    build: ./FrontEnd/swtccopy
    container_name: react-swtc
    ports:
      - 3000:3000
    volumes:
      - ./FrontEnd/swtccopy:/app
      - /app/node_modules
    stdin_open: true
    tty: true
  php:
    restart: unless_stopped
    build: ./PHP
    container_name: PHP-swtc
    ports:
      - 9000:80
    volumes:
      - ./PHP:/var/www/html

  mysql:
    image: mysql:8.0.31-debian
    container_name: MYSQL-swtc
    command: --default-authentication-plugin=mysql_native_password
    restart: unless_stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mydatabase
      MYSQL_USER: sysadmin
      MYSQL_PASSWORD: sysAdminPass1
    volumes:
      - ./SQL/Data:/var/lib/mysql
    ports:
      - 3306:3306

  phpmyadmin:
    restart: unless_stopped
    image: phpmyadmin:5.2.2-apache
    container_name: phpmyadmin-swtc
    depends_on:
      - mysql
    environment:
      - PMA_HOST=mysql
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - 9001:80

  openvscode-server:
    image: lscr.io/linuxserver/openvscode-server:latest
    container_name: openvscode-server-swtc
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - CONNECTION_TOKEN= #optional
      - CONNECTION_SECRET= #optional
      - SUDO_PASSWORD=123 #optional
      - SUDO_PASSWORD_HASH= #optional
    volumes:
      - /path/to/openvscode-server/config:/config
      - ./:/workspace/
    ports:
      - 3001:3000
    restart: unless-stopped
