body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loginBackgroundGradient {
  background: rgb(231, 215, 218);
  background: linear-gradient(
    135deg,
    rgba(231, 215, 218, 1) 0%,
    rgba(215, 232, 227, 1) 50%,
    rgba(228, 225, 214, 1) 100%
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.input-border-none {
  border: none;
}

.text-shadow {
  text-shadow: 2px 2px 2px black;
}
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
